* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  -webkit-text-size-adjust: 100%; }

.fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s; }

body {
  background: #4A506A;
  line-height: 1.6; }

body.loaded {
  opacity: 1; }

a {
  color: #333;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

.icon {
  pointer-events: none;
  height: 25px;
  width: 25px;
  margin: 0 0 -8px 0; }

/* spartan-300 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/spartan-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-300.woff2") format("woff2"), url("../fonts/spartan-v7-latin-300.woff") format("woff"), url("../fonts/spartan-v7-latin-300.ttf") format("truetype"), url("../fonts/spartan-v7-latin-300.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/spartan-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-regular.woff2") format("woff2"), url("../fonts/spartan-v7-latin-regular.woff") format("woff"), url("../fonts/spartan-v7-latin-regular.ttf") format("truetype"), url("../fonts/spartan-v7-latin-regular.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-500 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/spartan-v7-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-500.woff2") format("woff2"), url("../fonts/spartan-v7-latin-500.woff") format("woff"), url("../fonts/spartan-v7-latin-500.ttf") format("truetype"), url("../fonts/spartan-v7-latin-500.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-700 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/spartan-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-700.woff2") format("woff2"), url("../fonts/spartan-v7-latin-700.woff") format("woff"), url("../fonts/spartan-v7-latin-700.ttf") format("truetype"), url("../fonts/spartan-v7-latin-700.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-regular.woff2") format("woff2"), url("../fonts/mulish-v7-latin-regular.woff") format("woff"), url("../fonts/mulish-v7-latin-regular.ttf") format("truetype"), url("../fonts/mulish-v7-latin-regular.svg#Mulish") format("svg");
  /* Legacy iOS */ }

/* mulish-500 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v7-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-500.woff2") format("woff2"), url("../fonts/mulish-v7-latin-500.woff") format("woff"), url("../fonts/mulish-v7-latin-500.ttf") format("truetype"), url("../fonts/mulish-v7-latin-500.svg#Mulish") format("svg");
  /* Legacy iOS */ }

/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-700.woff2") format("woff2"), url("../fonts/mulish-v7-latin-700.woff") format("woff"), url("../fonts/mulish-v7-latin-700.ttf") format("truetype"), url("../fonts/mulish-v7-latin-700.svg#Mulish") format("svg");
  /* Legacy iOS */ }

.container {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 0 1.5rem; }

.rgb-r {
  color: #FFBFBF !important; }

.rgb-g {
  color: #8EFFC3 !important; }

.py-large {
  padding: 6rem 0; }

.py-large-title {
  padding: 0 0 0 0; }

.myt-medium {
  margin-top: 5rem; }

.section-title {
  color: #444;
  font-family: "Spartan", 'Comic Sans MS', sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 4.5rem; }
  .py-large-title {
    padding: 6rem 0 6rem 0; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.75; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse-small {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.75; }
  100% {
    transform: scale(1.05);
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.05);
    opacity: 1; }
  100% {
    transform: scale(1.75);
    opacity: 1; } }

/* spartan-300 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/spartan-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-300.woff2") format("woff2"), url("../fonts/spartan-v7-latin-300.woff") format("woff"), url("../fonts/spartan-v7-latin-300.ttf") format("truetype"), url("../fonts/spartan-v7-latin-300.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/spartan-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-regular.woff2") format("woff2"), url("../fonts/spartan-v7-latin-regular.woff") format("woff"), url("../fonts/spartan-v7-latin-regular.ttf") format("truetype"), url("../fonts/spartan-v7-latin-regular.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-500 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/spartan-v7-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-500.woff2") format("woff2"), url("../fonts/spartan-v7-latin-500.woff") format("woff"), url("../fonts/spartan-v7-latin-500.ttf") format("truetype"), url("../fonts/spartan-v7-latin-500.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* spartan-700 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/spartan-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/spartan-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/spartan-v7-latin-700.woff2") format("woff2"), url("../fonts/spartan-v7-latin-700.woff") format("woff"), url("../fonts/spartan-v7-latin-700.ttf") format("truetype"), url("../fonts/spartan-v7-latin-700.svg#Spartan") format("svg");
  /* Legacy iOS */ }

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-regular.woff2") format("woff2"), url("../fonts/mulish-v7-latin-regular.woff") format("woff"), url("../fonts/mulish-v7-latin-regular.ttf") format("truetype"), url("../fonts/mulish-v7-latin-regular.svg#Mulish") format("svg");
  /* Legacy iOS */ }

/* mulish-500 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v7-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-500.woff2") format("woff2"), url("../fonts/mulish-v7-latin-500.woff") format("woff"), url("../fonts/mulish-v7-latin-500.ttf") format("truetype"), url("../fonts/mulish-v7-latin-500.svg#Mulish") format("svg");
  /* Legacy iOS */ }

/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v7-latin-700.woff2") format("woff2"), url("../fonts/mulish-v7-latin-700.woff") format("woff"), url("../fonts/mulish-v7-latin-700.ttf") format("truetype"), url("../fonts/mulish-v7-latin-700.svg#Mulish") format("svg");
  /* Legacy iOS */ }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.75; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse-small {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.75; }
  100% {
    transform: scale(1.05);
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.05);
    opacity: 1; }
  100% {
    transform: scale(1.75);
    opacity: 1; } }

.btn-cta, .btn-body {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  text-align: center; }

.btn-cta {
  background-color: white;
  color: #333;
  height: 5rem;
  width: 5rem;
  margin: 2rem 1rem; }
  .btn-cta .icon {
    margin-top: 1.25rem;
    height: 2.5rem;
    width: 2.5rem; }
  .btn-cta:hover {
    animation: pulse 1.5s ease-in-out infinite; }

.btn-body {
  padding: 0;
  line-height: 0;
  background-color: white;
  margin: 0;
  height: 5rem;
  width: 5rem;
  position: relative; }
  .btn-body .icon {
    position: absolute;
    top: 32%;
    left: 27%;
    height: 2rem;
    width: 2rem; }
  .btn-body:hover {
    animation: pulse 1.5s ease-in-out infinite; }

#navbar .container {
  width: 100%; }

.navigation {
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.navigation ul {
  background: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  color: white;
  list-style: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding: 0; }
  .navigation ul::-webkit-scrollbar {
    display: none; }
  .navigation ul::-moz-scrollbar {
    display: none; }

.navigation li {
  margin: 1rem 1.5rem;
  opacity: 0;
  text-align: right;
  transition: all 0.35s ease-in-out; }
  .navigation li:first-child {
    margin-top: 100px; }
  .navigation li:last-child {
    margin-bottom: 20px; }

.navigation li a {
  -webkit-box-shadow: 0px 2px 30px -1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 30px -1px rgba(0, 0, 0, 0.08);
  font-family: "Mulish", "Arial", sans-serif;
  background: rgba(207, 33, 93, 0.96);
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  width: 4.5rem;
  font-size: 0.85rem;
  padding: 1.6rem 0.6rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.35s ease-in-out; }

.navigation li a:hover,
.navigation .menu-btn:hover {
  background: #1E202A;
  color: #fff; }

.navigation .logo {
  display: block;
  float: left;
  line-height: 0;
  padding: 24px 0;
  text-decoration: none;
  transition: all 0.15s ease-in-out; }
  .navigation .logo img {
    height: 80px;
    width: auto;
    transition: all 0.15s ease-in-out; }

/* menu */
.navigation .menu {
  clear: both;
  transform: translateX(100vw);
  transition: transform 0.35s ease-in-out; }

/* menu icon */
.navigation .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  background: rgba(55, 55, 55, 0.25);
  margin-top: 1.5rem;
  border-radius: 100%;
  padding: 24px 12px;
  position: relative;
  user-select: none;
  transition: margin 0.15s ease-in-out;
  z-index: 99; }

.navigation .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.35s ease-out;
  width: 25px; }

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease-out;
  width: 100%; }

.navigation .menu-icon .navicon:before {
  top: 8px; }

.navigation .menu-icon .navicon:after {
  top: -8px; }

.navigation .menu-btn {
  display: none; }

.navigation .menu-btn:checked ~ .menu {
  max-height: calc(100vh - 56px);
  transform: translateX(0); }

.navigation .menu-btn:checked ~ .menu li {
  opacity: 1;
  transform: translateX(0); }

.navigation .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-135deg); }

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(135deg); }

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

@media only screen and (min-width: 768px) {
  #navbar .container {
    width: 100%; }
  .navigation {
    pointer-events: none;
    height: 60px;
    padding-top: 0px;
    transition: background-color 0.3s ease-in-out, padding-top 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out; }
  .navigation ul {
    pointer-events: auto;
    height: auto;
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: auto; }
  .navigation li {
    float: left;
    opacity: 1;
    transform: translateZ(0);
    transition: none;
    margin-top: 0;
    margin: 0; }
    .navigation li:first-child {
      margin-top: 0; }
    .navigation li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
  .navigation li a {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.1rem;
    margin-top: 0;
    padding: 1rem 1rem;
    transition: all 0.35s ease-in-out;
    opacity: 0.85;
    position: relative;
    z-index: 98;
    overflow: hidden;
    border-radius: 0;
    width: auto; }
    .navigation li a.first {
      border-radius: 0 0 0 25px; }
    .navigation li a.mid {
      border-radius: 0; }
    .navigation li a.last {
      border-radius: 0 0 25px 0; }
    .navigation li a.active, .navigation li a.active:hover {
      color: #CF215D;
      opacity: 1;
      background: white;
      border-top: 0;
      padding: 1rem 1rem;
      padding-top: 2rem;
      border-radius: 0 0 20px 20px;
      box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.2);
      z-index: 99;
      position: relative; }
  .menu-items {
    top: 0; }
  .navigation li a:hover,
  .navigation .menu-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.1rem;
    margin-top: 0;
    padding: 1rem 1rem;
    transition: all 0.35s ease-in-out;
    opacity: 0.85; }
  .navigation .logo img {
    height: 0;
    transition: height 0.3s ease-in-out;
    width: auto; }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
    transition: all 0.3s ease-in-out;
    transform: translateX(0); }
  .navigation .menu-icon {
    display: none; } }

#header-main {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  #header-main .header-img {
    background: url("../img/site-components/hero-img.png") no-repeat 50% 0/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
    overflow: show; }
    #header-main .header-img:after {
      content: "";
      height: 100%;
      opacity: 1;
      position: absolute;
      width: 100%; }
  #header-main .header-wrapper {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: margin-top 0.2s ease-in-out; }
    #header-main .header-wrapper .header-content {
      box-sizing: border-box;
      color: #4A506A;
      text-align: center;
      width: 100%; }
      #header-main .header-wrapper .header-content h1 {
        color: white;
        font-family: "Spartan", "Arial", sans-serif;
        font-weight: 500;
        font-size: 14vw;
        letter-spacing: -0.2rem;
        text-shadow: 0px 1px 21px rgba(150, 150, 150, 0.15); }
      #header-main .header-wrapper .header-content .subtitle {
        color: #666;
        font-family: 'Mulish', sans-serif;
        font-size: 5.9vw;
        font-weight: 500; }

@media only screen and (max-height: 420px) and (min-width: 565px) and (orientation: landscape) {
  .header-wrapper h1 {
    font-size: 7vw !important; }
  .header-wrapper .subtitle {
    font-size: 3vw !important; } }

@media only screen and (min-width: 768px) {
  #header-main .header-img {
    background: url("../img/site-components/hero-img.png") no-repeat 50% 100%/cover;
    overflow-y: visible; }
  #header-main .header-wrapper {
    height: 100vh; }
    #header-main .header-wrapper .header-content h1 {
      font-size: 5rem;
      line-height: 1.05;
      margin-left: -3px; }
    #header-main .header-wrapper .header-content .subtitle {
      color: #666;
      font-family: 'Mulish', sans-serif;
      font-size: 2rem;
      font-weight: 500; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.75; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse-small {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.75; }
  100% {
    transform: scale(1.05);
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.05);
    opacity: 1; }
  100% {
    transform: scale(1.75);
    opacity: 1; } }

.skills-bg {
  margin-top: -30vw;
  background: #FFE0E0;
  border-radius: 50px;
  position: relative;
  box-sizing: border-box;
  transition: border-radius 0.2s ease-in-out;
  z-index: 1; }
  .skills-bg .skills-container-decoration {
    height: 100%;
    width: 100%;
    background: url("../img/site-components/site-wide/skills-bg.svg") no-repeat 90% 40%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1; }

.skill-grid {
  display: grid;
  align-items: space-around;
  justify-content: space-around;
  grid-gap: 4rem;
  grid-template-columns: repeat(1, 1fr);
  transition: grid-gap 0.2s ease-in-out; }
  .skill-grid .skill-card {
    padding: 3rem;
    background: #FFBFBF;
    position: relative;
    border-radius: 50px;
    transition: border-radius 0.2s, padding 0.2s, ease-in-out;
    z-index: 1;
    box-shadow: 23px 12px 37px 17px rgba(150, 150, 150, 0.1); }
    .skill-grid .skill-card-title {
      font-family: "Mulish", "Arial", sans-serif;
      font-weight: 700;
      letter-spacing: -0.05rem;
      color: #666;
      font-size: 1.8rem;
      line-height: 1.2;
      margin-bottom: 1.5rem;
      transition: font-size 0.2s ease-in-out; }
    .skill-grid .skill-card-list {
      color: #8B6868;
      font-family: "Mulish", "Arial", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      list-style: none;
      list-style-position: outside;
      padding-left: 0.75rem; }
    .skill-grid .skill-card-icon {
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 4rem;
      width: 4rem;
      background: #FFE0E0;
      top: 3rem;
      right: 2rem;
      transition: width 0.2s, height 0.2s, top 0.2s, right 0.2s ease-in-out; }
      .skill-grid .skill-card-icon .the-icon {
        height: 2.5rem;
        width: 2.5rem;
        transition: width 0.2s, height 0.2s ease-in-out; }
    .skill-grid .skill-card:before {
      content: '';
      height: 100%;
      width: calc(100% - 0.75rem);
      top: 0;
      left: 0.75rem;
      border-radius: 50px;
      position: absolute;
      z-index: -1;
      background: #fff;
      transition: border-radius 0.2s, ease-in-out; }

@media only screen and (min-width: 550px) {
  .skills-bg {
    margin-top: -15vh; } }

@media only screen and (min-width: 768px) {
  .skills-bg .skills-container-decoration {
    background: url("../img/site-components/site-wide/skills-bg.svg") no-repeat 0 45%/cover; }
  .skill-grid {
    grid-gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (min-width: 992px) {
  .skills-bg {
    margin-top: -25vh;
    border-radius: 100px;
    padding-left: 3rem;
    padding-right: 3rem; }
  .skill-grid {
    grid-gap: 6rem; }
    .skill-grid .skill-card {
      border-radius: 75px;
      padding: 4.5rem; }
      .skill-grid .skill-card-title {
        font-size: 2.3rem; }
      .skill-grid .skill-card-list {
        font-size: 1.1rem; }
      .skill-grid .skill-card-icon {
        top: 4.5rem;
        right: 3.5rem;
        height: 5rem;
        width: 5rem; }
        .skill-grid .skill-card-icon .the-icon {
          height: 3.1rem;
          width: 3.1rem; }
      .skill-grid .skill-card:before {
        border-radius: 75px; } }

.about-section {
  display: flex;
  align-items: center;
  justify-content: center; }
  .about-section .about-me {
    width: 90%; }
    .about-section .about-me .about-highlight {
      color: #333;
      font-family: 'Spartan', 'Arial', sans-serif;
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: -0.1rem;
      margin-bottom: 1rem;
      text-align: center; }
      .about-section .about-me .about-highlight-subtitle {
        color: #666;
        font-family: 'Mulish', 'Arial', sans-serif;
        font-size: 1.75rem;
        font-weight: 300;
        text-align: center; }
      .about-section .about-me .about-highlight .pop {
        color: #2B76D8; }
    .about-section .about-me .about-more {
      border-left: 10px solid black;
      padding-left: 10px;
      font-family: 'Mulish', 'Arial', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.75; }

@media only screen and (min-width: 768px) {
  .about-me {
    width: 60%; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.75; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse-small {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.75; }
  100% {
    transform: scale(1.05);
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.05);
    opacity: 1; }
  100% {
    transform: scale(1.75);
    opacity: 1; } }

.projects-bg {
  background: #EAFCF2;
  border-radius: 50px;
  position: relative;
  box-sizing: border-box;
  transition: border-radius 0.2s ease-in-out;
  z-index: 1; }
  .projects-bg .projects-container-decoration {
    height: 100%;
    width: 100%;
    background: url("../img/site-components/site-wide/projects-bg.svg") no-repeat 0 0/cover;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1; }
  .projects-bg .project-grid {
    display: grid;
    align-items: space-around;
    justify-content: space-around;
    grid-gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
    transition: grid-gap 0.2s ease-in-out; }
    .projects-bg .project-grid .project-card {
      overflow: hidden;
      background: #fff;
      border-radius: 50px;
      position: relative;
      z-index: 1;
      box-shadow: 23px 12px 37px 17px rgba(150, 150, 150, 0.1); }
      .projects-bg .project-grid .project-card .project-description {
        padding: 1rem;
        text-align: center; }
        .projects-bg .project-grid .project-card .project-description .p-title {
          color: #666;
          font-family: "Mulish", "Arial", sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          margin: 0 0 0.75rem 0;
          font-weight: 500; }
        .projects-bg .project-grid .project-card .project-description .p-type {
          margin: 0.2rem;
          display: inline-block;
          font-family: "Mulish", "Arial", sans-serif;
          font-weight: 400;
          font-size: clamp(0.1rem, 3vw, 1rem);
          padding: 0.4rem 0.7rem;
          background: #8EFFC3;
          color: #325a44;
          border-radius: 25px; }
      .projects-bg .project-grid .project-card .project-preview {
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        margin-right: 0;
        position: relative;
        z-index: 1; }
        .projects-bg .project-grid .project-card .project-preview img {
          transform: scale(1.05);
          image-rendering: crisp-edges;
          height: auto;
          width: 100%;
          transition: transform 0.35s ease-in-out; }
        .projects-bg .project-grid .project-card .project-preview:hover img {
          transform: scale(1.4); }

@media only screen and (min-width: 768px) {
  .projects-bg .projects-container-decoration {
    height: 100%;
    width: 100%;
    background: url("../img/site-components/site-wide/projects-bg.svg") no-repeat 0 125%/cover;
    top: 0;
    left: 0;
    position: absolute; }
  .projects-bg .project-grid {
    grid-gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: repeat(2, 1fr); }
    .projects-bg .project-grid .project-card .project-description {
      padding: 1.5rem; }
      .projects-bg .project-grid .project-card .project-description .p-title {
        font-size: 1.1rem; }
      .projects-bg .project-grid .project-card .project-description .p-type {
        font-size: 0.9rem; } }

@media only screen and (min-width: 992px) {
  .projects-bg {
    border-radius: 100px;
    padding-left: 3rem;
    padding-right: 3rem; }
    .projects-bg .project-grid {
      grid-gap: 6rem; }
      .projects-bg .project-grid .project-card {
        border-radius: 75px; }
        .projects-bg .project-grid .project-card .project-description .p-title {
          font-size: 1.3rem; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.1);
    opacity: 0.75; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse-small {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 0.75; }
  100% {
    transform: scale(1.05);
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(1.05);
    opacity: 1; }
  100% {
    transform: scale(1.75);
    opacity: 1; } }

.contact-bg {
  background: #EAF2FC;
  border-radius: 75px;
  position: relative;
  box-sizing: border-box;
  transition: border-radius 0.2s ease-in-out;
  width: 100%;
  z-index: 1; }

.contact-container-decoration {
  opacity: 0.7;
  height: 100%;
  width: 100%;
  background: url("../img/site-components/site-wide/contact-bg.svg") no-repeat 0 0/cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1; }

.contact-form {
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 500;
  color: #2B425E;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr); }
  .contact-form .input-label {
    display: inline-block;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    padding-left: 0.5rem;
    margin-bottom: 0.75rem; }
    .contact-form .input-label .input-required {
      opacity: 0.6;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.6rem;
      color: rgba(50, 50, 50, 0.7); }
  .contact-form .text-input {
    background: white;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 1.5rem;
    height: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    transition: all 0.35s ease-in-out;
    outline: none;
    transform: scale(1);
    box-shadow: 23px 12px 37px 17px rgba(150, 150, 150, 0.1); }
    .contact-form .text-input:focus {
      transform: scale(1.05);
      outline: none;
      background: #fff;
      border: 2px solid rgba(207, 33, 93, 0.5); }
  .contact-form .text-area {
    padding: 1.5rem 1.5rem;
    border: 2px solid transparent;
    font-size: 1rem;
    resize: none;
    width: 100%;
    margin-bottom: 6rem;
    height: 200px;
    border-radius: 50px;
    transition: all 0.35s ease-in-out;
    transform: scale(1);
    box-shadow: 23px 12px 37px 17px rgba(150, 150, 150, 0.1); }
    .contact-form .text-area:focus {
      transform: scale(1.05);
      outline: none;
      background: #fff;
      border: 2px solid rgba(207, 33, 93, 0.5); }
  .contact-form .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; }
    .contact-form .button-area .submit-button {
      margin: 20px 0;
      border-radius: 100%;
      text-align: center;
      padding: 1.5rem 1rem;
      transform: scale(1); }
      .contact-form .button-area .submit-button:hover {
        animation: pulse 1.5s ease-in-out 0.5s infinite;
        transform: scale(1.1); }

@media only screen and (min-width: 768px) {
  .contact-container-decoration {
    height: 100%;
    width: 100%;
    background: url("../img/site-components/site-wide/contact-bg.svg") no-repeat 0 40%/cover;
    top: 0;
    left: 0;
    position: absolute; }
  .contact-form {
    grid-template-columns: repeat(1, 0.65fr); } }

@media only screen and (min-width: 992px) {
  .contact-bg {
    border-radius: 100px; } }

#home-footer .footer-content {
  display: flex;
  align-items: center;
  flex-direction: column; }
  #home-footer .footer-content .finito {
    font-family: "Mulish", "Arial", sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 0.9rem;
    text-align: center; }
  #home-footer .footer-content .restart {
    font-family: "Mulish", "Arial", sans-serif;
    font-weight: 500;
    color: #CF215D;
    font-size: 1.2rem;
    text-align: center; }

body {
  background: #fff; }
